# Ignore Terraform directories and files
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Ignore Terraform plan files
*.tfplan
*.tfvars
*.tfvars.json

# Ignore overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore sensitive files with keys
*.pem

# Terraform CLI configuration files
.terraformrc
terraform.rc

# IDE files (se estiver usando alguma IDE como VSCode, IntelliJ, etc.)
.idea/
.vscode/