# Diretórios do Terraform
.terraform/

# Arquivo de bloqueio do Terraform (não deve ser versionado)
terraform.lock.hcl

# Arquivos de estado do Terraform
*.tfstate
*.tfstate.*

# Arquivos de log de falha
crash.log
crash.*.log

# Arquivos de variáveis, que podem conter dados sensíveis
*.tfvars
*.tfvars.json

# Arquivos de configuração de CLI
.terraformrc
terraform.rc

# Arquivos de configuração da IDE
.idea/

# Arquivos de chaves privadas
*.pem
